/* Mengatur jenis font didalam body  */
html, body {
  font-family: sans-serif;
}

/* Mengatur jenis font pada heading */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/* Mengatur jarak margin pada heading 2 */
h2{
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Mengatur jenis font pada tag paragraf */
p{
  font-family: "Open Sans", sans-serif;
}

/* Mengatur jarak padding dan meratakan teks ke tengah pada class section-title */
.section-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* Mengatur font dan ukuran text pada list navbar */
.navbar{
  font-family: 'Droid Serif', serif;
  font-size:20px;
}

/* Mengatur font dan ukuran text pada nama navbar */
.navbar-brand {
  font-size:20px;
  font-family: 'Droid Serif', serif;
}

/* Mengatur background image dan size pada header */
.jumbotron {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,
  rgba(64 55 55 / 50%) 0%), url("header2.jpeg");
  background-size: cover;
  height : 100vh;
  }


/* Mengatur warna dan font pada text yg ada di header */
.display-3{
  color: white;
  text-align: center;
  font-family: Monospace;
}

/* Mengatur border dan merapikan text dan memberi warna di button yg ada pada tengah header */
.btn-about {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  margin-top: 30px;
  color: #fff;
  background: #BC8F8F;
}

/* Mengatur warna dan font text berjalan yg ada pada header */
.lead.pb-4{
  color: white;
  font-family: Serif;
}  

/* Mengatur jarak padding pada class skills */
#skills {
  padding: 60px;
}

/* Mengatur besar tinggi progress item didalam class skills */
.skills .progress {
  height: 60px;
  display: block;
  background: none;
}

/* Mengatur besar tinggi, warna, dan progress presentage pada progress bar didalam class skills */
.skills .progress-bar {
  height: 10px;
  background: #BC8F8F; 
  width: 10%
}
 
/* Mengatur warna dasar progress bar didalam class skills */
.skills .progress-bar-wrap{
  background: #E2D3D3;
}

/* Mengatur tebal text pada class skin elemen span yang ada di dalam class progress */
.skills .progress .skill {
  font-weight: 600;
}

/* Meratakan class ke kanan class val yg ada didalam class progress skills */
.skills .progress .vall {
  float: right;
  font-style: normal;
}

/* Mengatur jarak margin atas pada class row */
.row{
  margin-top: 30px;
}
  
/* Mengatur ukuran text dan tebal, jarak margin atas dan bawah */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Mengatur text font dan tebal, jarak margin atas dan bawah */
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Mengatur ukuran dan tebal text text, warna background, mengatur tinggi lebar background,  jarak padding, */
.resume .resume-item h5 {
  font-size: 16px;
  background: #E2D3D3; 
  padding: 5px 15px;
  display: inline-block; 
  font-weight: 600;
  margin-bottom: 10px;
}

/* Mengatur warna background, border,warna text dan jarak padding pada tombol submit */
.btn-submit{
   background: #E2D3D3;
    border: 0;
    padding: 10px 24px;
    color: #fff;
}

/* Mengatur jarak ruang space element ada class container yg ada didalam class contact */
.contact .container{
  padding-bottom: 60px;
}

/* Mengatur jarak ruang space element dan warna background pada tag footer */
footer{
  padding: 1rem;
  background-color: #BC8F8F;
}

/* Mengatur warna text dan jenis font pada class text yang ada di dalam footer */
.footer .text-center{
  color: white;
  font-family: "Palatino LT STD","Palatino Linotype","Book Antiqua",Georgia,serif;}