<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/views/assets/css/admin.css" rel="stylesheet">
    <script src="/views/assets/js/admin.js"></script>

</head>

<body>
    <h3>Experience Data</h3>
    <table cellspacing='0'>
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Join Date</th>
                <th>Company</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% experiences.forEach((data,index) => { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= data.title %>
                    </td>
                    <td>
                        <%= data.joindate %>
                    </td>
                    <td>
                        <%= data.company %>
                    </td>
                    <td>
                        <%= data.description %>
                    </td>
                    <td>
                        <button class="update-btn" data-toggle="modal" data-target="#experienceModal">Update</button>
                        <button class="delete-btn" data-id= "<%=data.id%>" >Delete</button>
                        <!-- <button class="delete" data-toggle="modal" data-target="#modal-alert">Delete</button> -->
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

<!-- Experience form -->
    <div class="modal fade" id="experienceModal" role="dialog">
        <div class="modal-dialog">
            <form method="POST" action="/experience/add">
                <div class="container">
                    <!-- <% experiences.forEach((data,index) => { %> 
                        
                   <% }) %> -->
                  <h2>Update Experience</h2>
                  <label for="title"><b>Title</b></label>
                  <input type="text" placeholder="Enter Title Job" name="title" required>
            
                  <label for="date"><b>Join Date</b></label>
                  <input type="text" placeholder="Input Date" name="joindate" required>

                  <label for="company"><b>Company</b></label>
                  <input type="text" placeholder="Input Company Name" name="company" required>
            
                  <label for="description"><b>Description</b></label>
                  <input class = "desc" type="text" placeholder="Input Description Job" name="description" required>
            
                  <button class="btn-submit" type="submit">Add</button>
                  <button type="button-close" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                </div>
              </form>

        </div>
    </div>

    <!-- <div class="modal fade" id="modal-alert" role="dialog">
        <div class="modal-alert">
            <p>Yakin ingin menghapus data?</p>
            <button class="delete-experience" >Hapus</button>
        </div>
    </div> -->


</body>

</html>