<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/views/assets/css/admin.css" rel="stylesheet">

</head>
<body>
    <h3>Home admin</h3>
    <table cellspacing='0'>
        <thead>
            <tr>
                <th>No</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Experience</td>
                <td>
                    <button class="add-experience" data-toggle="modal" data-target="#experienceModal">Add</button>
                    <button class="view-experince">View</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Skill</td>
                <td>
                    <button class="add-skill" data-toggle="modal" data-target="#skillModal">Add</button>
                    <button class="view-skill">View</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Experience create form -->
    <div class="modal fade" id="experienceModal" role="dialog">
        <div class="modal-dialog">
            <form method="POST" action="/experience/add">
                <div class="container">
                  <h2>Experience</h2>
                  <label for="title"><b>Title</b></label>
                  <input type="text" placeholder="Enter Title Job" name="title" required>
            
                  <label for="date"><b>Join Date</b></label>
                  <input type="text" placeholder="Input Date" name="joindate" required>

                  <label for="company"><b>Company</b></label>
                  <input type="text" placeholder="Input Company Name" name="company" required>
            
                  <label for="description"><b>Description</b></label>
                  <input type="text" placeholder="Input Description Job" name="description" required>
            
                  <button class="btn-submit" type="submit">Add</button>
                  <button type="button-close" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                </div>
              </form>

        </div>
    </div>

    <!-- Skill create form -->
    <div class="modal fade" id="skillModal" role="dialog">
        <div class="modal-dialog">
            <form method="POST" action="/skills/add">
                <div class="container">
                  <h2>Skill</h2>
                  <label for="title"><b>Skill name</b></label>
                  <input type="text" placeholder="Input Skill Name" name="name" required>
            
                  <label for="progress"><b>Progress</b></label>
                  <input type="text" placeholder="Input Progress" name="progress" required>

                  <button class="btn-submit" type="submit">Add</button>
                  <button type="button-close" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                </div>
              </form>

        </div>
    </div>
    </div>

</body>

</html>

</html>