<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/views/assets/css/login.css" rel="stylesheet">
</head>

<body>

  <form method="POST" action="/admin/login">
    <div class="container">
      <h2>Login</h2>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>

      <p>Register</p>

    </div>
  </form>

</body>

</html>